.highlighted-text {
    all: revert;
}
.highlighted-text[data-highlight-type="what"] { background-color: rgba(255, 85, 249, 0.2); }
.highlighted-text[data-highlight-type="why"] { background-color: rgba(255, 241, 39, 0.2); }
.highlighted-text[data-highlight-type="detail"] { background-color: rgba(31, 180, 255, 0.2); }

#tulip-menu { position: absolute; background: white; border: 0px solid #ccc; border-radius: 30px; padding: 5px; display: flex; gap: 5px; z-index: 2147483647; font-family: sans-serif; filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2)); }
#tulip-menu:after, #tulip-menu:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#tulip-menu:after {
  all: initial;
  display: block;
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-right-radius: 2px;
  left: 50%;
  top: calc(100% - 7px);
}
#tulip-menu:before {
  display: none;
}
#tulip-menu button { border: 2px solid rgba(255, 255, 255, 0.4); border-radius: 20px; padding: 5px 10px; cursor: pointer; font-size: 18px; width: 50px; height: 40px; }
#tulip-menu button[data-highlight-type="what"] { background-color: rgba(255, 224, 247, 1); }
#tulip-menu button[data-highlight-type="why"] { background-color: rgba(254, 248, 205, 1); }
#tulip-menu button[data-highlight-type="detail"] { background-color: rgba(219, 243, 255, 1); }
#tulip-menu button[data-highlight-type="memo"] { background-color: rgba(222, 222, 227, 1); }

#tulip-menu button.selected[data-highlight-type="what"] { border-color: rgba(242, 71, 237, 1); }
#tulip-menu button.selected[data-highlight-type="why"] { border-color: rgba(222, 146, 16, 1); }
#tulip-menu button.selected[data-highlight-type="detail"] { border-color: rgba(21, 172, 229, 1); }

#memo-box {
  background: rgba(246, 246, 246, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 113px;
  border: 1px solid rgba(224, 224, 226, 1);
}

#memo-box textarea {
  background: rgba(246, 246, 246, 1);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
  border: none;
  padding: 16px;
  outline: none;
}
#memo-box textarea:focus {
  outline: none;
}
#memo-box .memo-buttons { display: flex; justify-content: flex-end; gap: 10px; }
#memo-box button { border: 1px solid #aaa; border-radius: 4px; padding: 5px 10px; cursor: pointer; }

.capsule-container { display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px; margin-top: 10px; }
.memo-capsule { display: flex; align-items: center; justify-content: space-between; padding: 0 8px 0 16px; border-radius: 24px; color: #222; font-size: 16px; height: 40px; box-sizing: border-box; cursor: pointer; overflow: hidden; width: 167px; }
.memo-capsule[data-memo-type="what"] { background-color: rgba(255, 224, 247, 1); border: 1px solid rgba(242, 71, 237, 1); color: rgba(242, 71, 237, 1); }
.memo-capsule[data-memo-type="why"] { background-color: rgba(254, 248, 205, 1); border: 1px solid rgba(222, 146, 16, 1); color: rgba(222, 146, 16, 1); }
.memo-capsule[data-memo-type="detail"] { background-color: rgba(219, 243, 255, 1); border: 1px solid rgba(21, 172, 229, 1); color: rgba(21, 172, 229, 1); }

.memo-capsule.clicked-what { background-color: rgba(242, 71, 237, 1); border: 1px solid rgba(242, 71, 237, 1); color: rgba(255, 255, 255, 1); }
.memo-capsule.clicked-why { background-color: rgba(222, 146, 16, 1); border: 1px solid rgba(222, 146, 16, 1); color: rgba(255, 255, 255, 1); }
.memo-capsule.clicked-detail { background-color: rgba(21, 172, 229, 1); border: 1px solid rgba(21, 172, 229, 1); color: rgba(255, 255, 255, 1); }

.memo-capsule.clicked-what .capsule-delete-btn svg path { stroke: rgba(246, 246, 246, 1); }
.memo-capsule.clicked-why .capsule-delete-btn svg path { stroke: rgba(246, 246, 246, 1); }
.memo-capsule.clicked-detail .capsule-delete-btn svg path { stroke: rgba(246, 246, 246, 1); }

.capsule-text { flex-grow: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 4px; }
.capsule-delete-btn { background: none; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 32px; height: 32px; }

/* 삭제 확인 모달 스타일 */
#delete-confirm-modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%;  display: flex; justify-content: center; align-items: center; z-index: 2147483647;}
#delete-confirm-modal .modal-content { background: white; border-radius: 16px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); text-align: center; height: 190px; width: 100%; margin: 0 44.5px;}
#delete-confirm-modal h3 { margin-top: 28px; font-size: 16px; }
#delete-confirm-modal p { margin-top: 8px; font-size: 14px; color: rgba(99, 99, 108, 1); line-height: 150%; }
.modal-buttons { display: flex; justify-content: center; gap: 55px; margin-left: 16px; margin-right: 16px; margin-bottom: 12px; padding: 10px; }
.modal-separator {
    border-bottom: 1px solid rgba(236, 236, 237, 1);
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
}
.vertical-separator {
    width: 1px;
    height: 44px;
    background-color: rgba(236, 236, 237, 1);
}
.share-toast {
  display: flex;
  padding: 18px 16px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: fixed;
  bottom: 16px;
  background-color: rgba(72, 66, 98, 1);
  color: rgba(246, 246, 246, 1);
  z-index: 10000;
  left: 20px;
  right: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  border-radius: 12px;
  opacity: 0;
}
.share-toast.show {
  opacity: 1;
}
.toast-icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

#delete-confirm-modal button { color: rgba(99, 99, 108, 1); font-size: 16px; font-weight: bold; border: none;  }
#delete-confirm-modal .delete-btn {  color: rgba(255, 72, 72, 1); border: none;  }

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
  .highlighted-text[data-highlight-type="what"] { background-color: rgba(255, 85, 249, 0.2); color: inherit; }
  .highlighted-text[data-highlight-type="why"] { background-color: rgba(255, 241, 39, 0.2); color: inherit; }
  .highlighted-text[data-highlight-type="detail"] { background-color: rgba(31, 180, 255, 0.2); color: inherit; }
    
    #tulip-menu { background: rgba(34, 34, 42, 1); }
    #tulip-menu:after { background: rgba(34, 34, 42, 1); }
        #tulip-menu:before { display: none; }    #tulip-menu button { border-color: rgba(255, 255, 255, 0.08); }
    #tulip-menu button[data-highlight-type="what"] { background-color: rgba(51, 17, 50, 1); }
    #tulip-menu button[data-highlight-type="why"] { background-color: rgba(53, 40, 6, 1); }
    #tulip-menu button[data-highlight-type="detail"] { background-color: rgba(6, 36, 51, 1); }
    #tulip-menu button[data-highlight-type="memo"] { background-color: rgba(27, 27, 34, 1); color: rgba(21, 172, 229, 1); }
    #tulip-menu button:not([data-highlight-type]) { background-color: #444; }

    #tulip-menu button.selected[data-highlight-type="what"] { border-color: rgba(178, 60, 174, 1); }
    #tulip-menu button.selected[data-highlight-type="why"] { border-color: rgba(208, 157, 0, 1); }
    #tulip-menu button.selected[data-highlight-type="detail"] { border-color: rgba(16, 134, 178, 1); }

    #memo-box { background: rgba(42, 42, 50, 1); color: rgba(236, 236, 237, 1); border: 1px solid rgba(52, 52, 61, 1); }
    #memo-box textarea { background: rgba(42, 42, 50, 1); color: rgba(236, 236, 237, 1); border: none; }

    .memo-capsule[data-memo-type="what"] { background-color: rgba(51, 17, 50, 1); border: 1px solid rgba(178, 60, 174, 1); color: rgba(178, 60, 174, 1); }
    .memo-capsule[data-memo-type="why"] { background-color: rgba(53, 40, 6, 1); border: 1px solid rgba(208, 157, 0, 1); color: rgba(208, 157, 0, 1); }
    .memo-capsule[data-memo-type="detail"] { background-color: rgba(6, 36, 51, 1); border: 1px solid rgba(16, 134, 178, 1); color: rgba(16, 134, 178, 1); }
    .capsule-delete-btn { color: #AAA; }
    
    .memo-capsule.clicked-what { background-color: rgba(178, 60, 174, 1); border: 1px solid rgba(178, 60, 174, 1); color: rgba(255, 255, 255, 1); }
    .memo-capsule.clicked-why { background-color: rgba(208, 157, 0, 1); border: 1px solid rgba(208, 157, 0, 1); color: rgba(255, 255, 255, 1); }
    .memo-capsule.clicked-detail { background-color: rgba(16, 134, 178, 1); border: 1px solid rgba(16, 134, 178, 1); color: rgba(255, 255, 255, 1); }
    
    .memo-capsule.clicked-what .capsule-delete-btn svg path { stroke: rgba(246, 246, 246, 1); }
    .memo-capsule.clicked-why .capsule-delete-btn svg path { stroke: rgba(246, 246, 246, 1); }
    .memo-capsule.clicked-detail .capsule-delete-btn svg path { stroke: rgba(246, 246, 246, 1); }

    #delete-confirm-modal .modal-content { background: rgba(28, 28, 33, 1); color: rgba(236, 236, 237, 1); }
    #delete-confirm-modal p { color: rgba(170, 170, 175, 1); }
    #delete-confirm-modal button { color: rgba(170, 170, 175, 1); border: none; }
    #delete-confirm-modal .delete-btn { color: rgba(222, 67, 67, 1); border: none; }
    .modal-separator {
        border-bottom: 1px solid rgba(44, 44, 57, 1);
    }
    .vertical-separator {
        background-color: rgba(44, 44, 57, 1);
    }
    
    .share-toast {
      background-color: rgba(37, 32, 64, 1);
    }
}


